<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Civil CRD</title>
</head>
<body>
<h1>Civil CRD</h1>
<form th:action="@{/crd/civilcrd}" method="post" th:object="${civilcrd}">
    <div>
        <label for="selectedcivilevent">Select Civil Event:</label>
        <select id="selectedcivilevent" name="selectedcivilevent" th:field="*{selectedcivilevent}">
            <option value="Event1">MEGAARCH</option>
            <option value="Event2">SETUBANDHAN</option>
            <option value="Event3">TRACK-O-TREASURE</option>
            <option value="Event4">CAD-O-MANIA</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>