<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>General CRD</title>
</head>
<body>
<h1>General RD Form</h1>
<form th:action="@{/crd/generalcrd}" method="post" th:object="${generalcrd}">

    <div>
        <label for="selectedgeneralevent">Select General Event:</label>
        <select id="selectedgeneralevent" name="selectedgeneralevent" th:field="*{selectedgeneralevent}">
            <option value="Event1">Bing Quiz</option>
            <option value="Event2">Carrom</option>
            <option value="Event3">Table Tennis</option>
            <option value="Event4">Chess</option>
            <option value="Event5">Darts</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>

</form>
</body>
</html>